$color:#fff;
$red: #f22712;
$darkred: #83251b;
$grey: #eaeaea;

body {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

// HEADER .......................................
.header {
    position: fixed;
    background-color: $red;
    height: auto;
    width: 100%;

    .collapse {
        width: 50%;
        float: right;
    }

    .nav-link {
        color: $color;

        :hover {
            background-color: $darkred;
        }
    }
}

// CAROUSEL ....................................
.carousel-image {
    width: 100%;

}

// STEPS .......................................

.box {
    background-color: #f4f4f4;
    display: block;
    width: 330px;
    height: 110px;
    border-radius: 50px;
    box-shadow: -2px 4px 3px 3px rgba(63, 48, 48, 0.1);
    margin-bottom: 50px;
    position: relative;
    #within {
        position: absolute;
        top: 20px;
        left: 30px;
    }

    .step-text {
        display: inline;
        text-align: center;
        padding-left: 20px;
        // top: 5px;
        // left: 100px;
        // position: absolute;
        // top: 0px;
        // left: 70px;
    }

    .bottom-text {
        // text-align: center;
        padding-left: 20px;
        position: absolute;
        top: 40px;
        left: 75px;
    }
}


// IMAGES ......................................
// .just-img{
//     margin: 0px 200px;
//     .row{
//         float: left;
//         margin: auto auto;

//         .img{
//             width: 33.3%;
//             padding: 0px 30px;
//             margin: 0;
//         }
//     }
// }
.img {
    margin-bottom: 30px;
}


// Festival offer..............................

// .heading-box{
//     width: 100%;
//     height: 100px;;
//     background-color: $red;
// clip-path: polygon(0px 0px, 400px 0px, 440px 60px, 0px 60px);
// }
.containerr {
    #box {
        position: relative;
        width: 200px;
        margin-bottom: 50px;
        // height: 150px;

        #content {
            position: relative;
            width: 350px;
            height: 60px;
            background: $red;
            -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);

            .text-content {
                position: absolute;
                top: 12px;
                left: 40px;
                color: $color;
                font-weight: lighter;
                font-size: 24px;
            }
        }

        #shadow {
            position: absolute;
            z-index: -1;
            content: "";
            background: rgba(0, 0, 0, .3);
            width: 350px;
            height: 60px;
            left: 5px;
            top: 5px;
            -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
        }
    }

    .row {

        .col1,
        .col2 {
            margin: 0;
            padding: 0;
            background-color: #eaeaea;

            .blue-triangle {
                position: relative;
            }

            .triangle {
                position: relative;
                float: right;
            }

            .over-image {
                position: absolute;
                top: 25px;
                left: 100px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {

    .containerr,
    .containerr-lg,
    .containerr-md,
    .containerr-sm,
    .containerr-xl {
        max-width: 1640px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

.containerr,
.containerr-fluid,
.containerr-lg,
.containerr-md,
.containerr-sm,
.containerr-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



// TOP SELLING CATEGORIES..................................................

.selling-cat {
    background-color: $grey;
height: 900px;
    .containerr {
        .selection {
            .col {
                width: 300px;
                height: 100px;
                background-color: $color;
            }
        }
    }
}

// PARALAX IMAGE .........................................................

.paralax{
    width: 100%;
    height: 600px;
    background-image:linear-gradient(rgba(255,0,0,0.7)), url(../Assets/Paralax_image_Black&white.png);
    background-position: center;
background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    // position: fixed;
    // top: 0;
    // left: 0;
    position: relative; 
}
