$color:#fff;
$red: #f22712;
$darkred: #83251b;

body{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
// HEADER .......................................
.header{
    position: fixed;
    background-color: $red;
    height: auto;
    width: 100%;
    .nav-link{
        color: $color;
        :hover{
            background-color: $darkred;
        }
    }
}
//  .dropdown-content {
//         display: none;
//         position: absolute;
//         background-color: #f9f9f9;
//         min-width: 160px;
//         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//         padding: 12px 16px;
//         z-index: 1;
//  }
// #home:hover .dropdown-content{
//     display: block;
// }
// CAROUSEL ....................................
.carousel-image{
    width: 100%;
  
}

// STEPS .......................................

    .box {
        background-color: #f4f4f4;
        display: block;
        width: 230px;
        height: 80px;
        border-radius: 50px;
        box-shadow: -2px 4px 3px 3px rgba(63, 48, 48, 0.1);
        margin-bottom: 50px;
        position: relative;

        #within {
            position: absolute;
            top: 10px;
            left: 30px;
        }

        .step-text {
            position: absolute;
            top: 5px;
            left: 100px;
        }
    }


// IMAGES ......................................
// .just-img{
//     margin: 0px 200px;
//     .row{
//         float: left;
//         margin: auto auto;
        
//         .img{
//             width: 33.3%;
//             padding: 0px 30px;
//             margin: 0;
//         }
//     }
// }
.img{
    margin-bottom: 30px;
}


// Festival offer..............................

// .heading-box{
//     width: 100%;
//     height: 100px;;
//     background-color: $red;
// clip-path: polygon(0px 0px, 400px 0px, 440px 60px, 0px 60px);
// }
.container{
    #box {
        position: relative;
        width: 200px;
        height: 200px;
        #content {
            position: relative;
            width: 350px;
            height: 60px;
            background: $red;
            -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
            .text-content{
            position: absolute;
            top: 12px;
            left: 40px;
            color: $color;
            font-weight: lighter;
            font-size: 24px;
            }
          }
          
          #shadow {
            position: absolute;
            z-index: -1;
            content: "";
            background: rgba(0, 0, 0, .3);
            width: 350px;
            height: 60px;
            left: 5px;
            top: 5px;
            -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
          }
      }
    .row{
        .col1,.col2{
            margin: 0;
            padding: 0;
            background-color: #eeeeee;
            .blue-triangle{
                position: relative;
                }
                .over-image{
                position: absolute;
                top: 40px;
                left: 100px;
                }
        }
    }  
}
  
