@font-face {
  font-family: "elephanti";
  src: url(../Fonts/ELEPHNTI.TTF);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  background-color: #f22712;
  height: 110px;
  width: 100%;
}

.header .collapse {
  width: 50%;
  float: right;
}

.header .nav-link {
  border-right: 1px solid #ad2718;
  font-size: 20px;
  color: #fff;
}

.header .nav-link:hover {
  background-color: #ad2718;
}

.carousel-inner .carousel-item {
  position: relative;
}

.carousel-inner .carousel-item #textbox {
  position: absolute;
  top: 40%;
  left: 22%;
}

.carousel-inner .carousel-item .carousel-heading {
  font-family: 'elephanti';
  font-size: 55px;
  font-weight: bolder;
}

.carousel-inner .carousel-item p {
  word-wrap: break-word;
  font-size: 22px;
}

.box {
  background-color: #f4f4f4;
  display: block;
  width: 330px;
  height: 110px;
  border-radius: 50px;
  -webkit-box-shadow: -2px 4px 3px 3px rgba(63, 48, 48, 0.1);
          box-shadow: -2px 4px 3px 3px rgba(63, 48, 48, 0.1);
  margin-bottom: 50px;
  position: relative;
}

.box #within {
  position: absolute;
  top: 20px;
  left: 30px;
}

.box .step-text {
  font-size: 18px;
  display: inline;
  text-align: center;
  padding-left: 20px;
}

.box .bottom-text {
  padding-left: 20px;
  position: absolute;
  top: 40px;
  left: 75px;
}

.img {
  margin-bottom: 30px;
}

.containerr #box {
  position: relative;
  width: 200px;
  margin-bottom: 50px;
}

.containerr #box #content {
  position: relative;
  width: 350px;
  height: 60px;
  background: #f22712;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

.containerr #box #content .text-content {
  position: absolute;
  top: 12px;
  left: 40px;
  color: #fff;
  font-weight: lighter;
  font-size: 24px;
}

.containerr #box #shadow {
  position: absolute;
  z-index: -1;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 60px;
  left: 5px;
  top: 5px;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

.containerr .row .col1,
.containerr .row .col2 {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

.containerr .row .col1 .blue-triangle,
.containerr .row .col2 .blue-triangle {
  position: relative;
}

.containerr .row .col1 .triangle,
.containerr .row .col2 .triangle {
  position: relative;
  float: right;
}

.containerr .row .col1 .over-image,
.containerr .row .col2 .over-image {
  position: absolute;
  top: 25px;
  left: 100px;
}

.containerr .row .col1 .over-text,
.containerr .row .col2 .over-text {
  font-size: 30px;
  position: absolute;
  top: 30%;
  left: 70%;
}

@media only screen and (min-width: 1200px) {
  .containerr,
  .containerr-lg,
  .containerr-md,
  .containerr-sm,
  .containerr-xl {
    max-width: 1640px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

.containerr,
.containerr-fluid,
.containerr-lg,
.containerr-md,
.containerr-sm,
.containerr-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.selling-cat {
  background-color: #eaeaea;
  height: 900px;
}

.selling-cat .containerr .selection .categories li {
  text-align: center;
  list-style: none;
  display: inline-block;
  width: 19%;
  padding: 30px;
  background-color: #fff;
  font-size: 20px;
}

.selling-cat .containerr .selection .categories li:hover {
  color: white;
  background-color: black;
}

#paralax {
  width: 100%;
  height: 900px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.7))), url(../Assets/Paralax_image_Black&white.png);
  background-image: linear-gradient(rgba(255, 0, 0, 0.7)), url(../Assets/Paralax_image_Black&white.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#paralax .prlx-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#paralax .prlx-content .prlx-head {
  color: #fff;
  font-size: 140px;
  font-weight: 700;
}

#paralax .prlx-content .prlx-md {
  color: #8b1212;
  font-size: 60px;
  font-weight: 700;
}

#paralax .prlx-content .prlx-text {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
/*# sourceMappingURL=gadget.css.map */